@import "variables";
@import "layouts";
@import "degus";
@import "measurements";
@import "boughts";
@import "tweets";

.nowrap {
  white-space: nowrap;
}
.pointer {
  cursor: pointer;
}
th.sorted {
  background-color: #eee;
}
