.degus {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  .degu {
    .name {
      text-align: center;
      margin-bottom: .75rem;
      font-size: 1.5em;
    }
    .body {
      padding: 1.5em;
    }
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 10px;
    @media #{$pc} {
      width: 20%;
    }
    img {
      width: 100%;
    }
  }
  .degu.is-died {
    background-color: #fdfdfd;
  }
}

