.measurements {
  // タブ
  .nav {
    a {
      cursor: pointer;
    }
  }
  // 体重記録一覧
  .history {
    table * {
      text-align: center;
    }
    .measurement-date {
      width: 20px;
    }
  }
}
