doctype 5
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="width=device-width,initial-scales=1" name="viewport" /
    title Degulog
    = csrf_meta_tags
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    = javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js'
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
  body
    / ヘッダーメニューここから
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand href="/"  でぐろぐ
        #navbarEexample.collapse.navbar-collapse
          ul.nav.navbar-nav
            li= link_to 'でぐーず', '/degus'
            li= link_to '体重管理', '/weights'
            li= link_to 'Twitter' , '/tweets'
            li= link_to '購入履歴', '/boughts'
            li
          ul.nav.navbar-nav.navbar-right
            li= link_to 'ログイン', '/login'
    / ヘッダーメニューここまで
    = yield
    = javascript_include_tag 'application'
