<!DOCTYPE html>
<html>
  <head>
    <title>Degulog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css' %>
    <%= javascript_include_tag 'https://unpkg.com/vue' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
